VITE_FIREBASE_API_KEY=AIzaSyB-1MFjf6trEEIaLjB19A1ape4-id_vAYM
VITE_FIREBASE_AUTH_DOMAIN=sellbuy-e0661.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://sellbuy-e0661-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=sellbuy-e0661
VITE_FIREBASE_STORAGE_BUCKET=sellbuy-e0661.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=385522383388
VITE_FIREBASE_APP_ID=1:385522383388:web:390dd95e078c4cee933dd9
VITE_FIREBASE_MEASUREMENT_ID=G-SJS3M2VWF8
VITE_ALLOWED_EMAIL_DOMAIN=iiitkottayam.ac.in
VITE_ADMIN_PASSCODE=Sanju@123